body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #111;
  color: #CCC;
}

.location-tile {
  display: inline-block;
  margin: 20px;
  width: 150px;
}

.location-tile img {
  width: 100%;
}



.control-row {
  background-image: linear-gradient(#2E2E2E, #222);
  padding: 2px;
  color: #EEE;
}

.control-row.header {
  background-image: linear-gradient(#333, #222);
}

.control-row button {
  background-color: #444;
  border: 1px solid #222222;
  border-radius: 4px;
  color: #EEE;
}

.control-row .row-controls {
  float: right;
}


#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#location-list {
  overflow-y: scroll;
}

#main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 0;
  flex-grow: 1;
}

#details {
  border-left: 1px solid #555;
  background-color: #222;
  box-shadow: inset 2px 0 black;
  padding: 5px;
  min-width: 225px;
  margin-left: auto; /* Align on right */
  overflow-y: scroll;
}

#details img {
  max-width: 100%;
}

#details h1 {
  text-align: center;
  font-size: 25px;
}

#details table {
  width: 100%;
  border-collapse: collapse;
}

#details table th, td {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
}

#details table th {
  background-color: #3A3A3A;
}

#details table td {
  background-color: #333333;
}
